<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kTodayTips</key>
	<dict>
		<key>kLabelName</key>
		<string>做日常</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
	</dict>
    <key>kCheckList</key>
	<dict>
		<key>kLabelName</key>
		<string>时光机</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
	</dict>
	<key>kQuestionAndAnswer</key>
	<dict>
		<key>kLabelName</key>
		<string>问答</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
	</dict>
    <key>kSearchInfo</key>
	<dict>
		<key>kLabelName</key>
		<string>搜索</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
	</dict>
    <key>kSystemDefaultLabels</key>
	<array>
		<string>kTodayTips</string>
		<string>kCheckList</string>
		<string>kQuestionAndAnswer</string>
		<string>kSearchInfo</string>
	</array>
</dict>
</plist>
